@if (IconSource != null)
{
    <img src="/@IconSource" />
}
@if (ChildContent != null)
{
    <section>
        @ChildContent
    </section>
}
<menu>
    @MenuList
</menu>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? IconSource { get; set; }

    [Parameter]
    public RenderFragment? MenuList { get; set; }
}