img {
    width: 1rem;
    place-self: center;
    opacity: 0.7;
}

ul > li {
    grid-template-columns: 1fr auto;
    gap: 1rem;
    place-content: stretch;
}

    ul > li section {
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        position: relative;
        padding-inline: 1rem 0;
    }

    ul > li:has(menu:hover) {
        filter: drop-shadow(0 0rem 1rem rgba(0, 0, 0, 0.5));
    }