li section {
    grid-column: span 5;
}
li section > * {
    grid-column: auto;
}
li section > *:first-child {
    font-weight: 300;
}
li section > *:not(:first-child) {
    opacity: 0.7;
}
li section > i {
    text-align: right;
}