@inject IJSRuntime JsRuntime


@code {
    [Parameter] public Conesoft.Files.File Current { get; set; } = default!;
    [Parameter] public string Path { get; set; } = "";
}
@if (Current.Exists)
{
    <li @key=Current.Path>
        <img src="/file-icon.svg" />
        <section>
            <a href="@($"{Path}/{Current.Name}")" target="_top">@Current.Name</a>
            <i>@Current.Info.Length.Bytes().Humanize()</i>
        </section>
        <menu>
            <li>
                <a href="*/@($"{Path}/{Current.Name}")" download="" title="download">▼</a>
            </li>
            <li dangerous>
                <a title="delete" @onclick="@DeleteFile" @onclick:preventDefault=true @onclick:stopPropagation=true>✕</a>
            </li>
        </menu>
    </li>
}

@code {
    public async Task DeleteFile()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure?\n{Current.Path}");
        if (confirmed)
        {
            Current.Delete();
        }
    }
}