@using FlacLibSharp;

@code {
    [Parameter] public Conesoft.Files.File Current { get; set; } = Conesoft.Files.Directory.Invalid.AsFile;
    [Parameter] public string Path { get; set; } = "";
}

@try
{
    <li>
        MP3!!!
        <audio controls src="@($"/*/{Path}/{Current.Name}")" />
        <aside horizontal>
            <a href="*/@($"{Path}/{Current.Name}")" download="">▼</a>
        </aside>
    </li>
}
catch (Exception)
{
    <DefaultFileRenderer Current="@Current" Path="@Path" />
}
