@using Conesoft.Files
@using System.Reflection
@using Conesoft.Website.Files.Components.Controls.TypeRenderers
@using Conesoft.Website.Files.Services

@inject FileHostingPaths paths
@inject NavigationManager nav

<AuthorizeView>
    <Authorized>
        <title style="display: none">@Url.Split('/').Last().Replace("%20", " ").Replace(".", " ")</title>
        <img fullscreen-viewer src="/*/@Url" />

        <label id="togglenav" fullscreen-viewer>

            <nav fullscreen-viewer>
                <button disabled=@string.IsNullOrWhiteSpace(previousLink) @onclick=GoToPrevious id="backward">
                    <img src="https://cdn.conesoft.net/icons/skip-backward.svg" />
                </button>
                <button disabled=@string.IsNullOrWhiteSpace(nextLink) @onclick=GoToNext id="forward">
                    <img src="https://cdn.conesoft.net/icons/skip-forward.svg" />
                </button>
            </nav>
        </label>

    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public string Url { get; set; } = "";

    string? previousLink = null;
    string? nextLink = null;

    protected override void OnInitialized()
    {
        var roots = paths.GetRoots();

        var fileroot = string.Join("/", Url.Split("/").SkipLast(1));

        var directories = roots.Select(p => (p / (fileroot ?? "")).AsDirectory).NotNull();

        var images = FilteredFiles(directories.SelectMany(d => d.Files));

        var current = roots.Select(p => (p / (Url.Replace("/", "\\") ?? "")).AsFile).NotNull().First();
        var previous = images.Reverse().SkipWhile(i => i.Path != current.Path).Skip(1).FirstOrDefault();
        var next = images.SkipWhile(i => i.Path != current.Path).Skip(1).FirstOrDefault();

        var segments = Url.Split("/").Count();

        previousLink = previous != null ? string.Join("/", previous.Path.Split("\\").Reverse().Take(segments).Reverse()) : null;
        nextLink = next != null ? string.Join("/", next.Path.Split("\\").Reverse().Take(segments).Reverse()) : "";
    }

    public void GoToPrevious()
    {
        nav.NavigateTo(previousLink!, forceLoad: true);
    }

    public void GoToNext()
    {
        nav.NavigateTo(nextLink!, forceLoad: true);
    }

    static Dictionary<string, Type> extensionRendererTypes = new();

    IEnumerable<Conesoft.Files.File> FilteredFiles(IEnumerable<Conesoft.Files.File> files)
    {
        var imageType = Activator.CreateInstance<ImageTypeRenderer>();
        return files.Where(f => imageType.InCategory(f)).OrderBy(f => f, imageType.Comparer);
    }
}
