pre {
    padding: 1rem;
    place-self: stretch center;
    user-select: text;
    overflow-x: auto;
    background: #111;
    margin: 1rem;
    justify-self: stretch;
    box-shadow: inset 0 0 1rem var(--accent-color-50);
}
