@inject FileHostingPaths paths

<BreadCrumbs Path="@Url" />

<MetaData Path="@Url" />

<main>
    <section>
        <pre>
            @text
        </pre>
    </section>
</main>

@code {
    [Parameter]
    public string Url { get; set; } = "";

    string title = "";
    string text = "";

    protected override async Task OnParametersSetAsync()
    {
        var file = paths.Roots.Select(p => (p / Url).AsFile).First(f => f.Exists);

        title = file.Name;

        text = await file.ReadText() ?? "";

        await base.OnParametersSetAsync();
    }
}