@using Conesoft.Website.Files.Components.EntryCategories.Base.Components
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components.ContextMenuEntries
@inherits EntryCategories.Base.ListEntry

<DefaultListEntry IconSource="file-icon.svg">
    
    <ChildContent>
        <a href="@Path/@Entry.Name">@Entry.Name</a>
    </ChildContent>

    <MenuList>
        <DownloadMenuEntry Path="@Path" Entry="@Entry" />
        <DeleteMenuEntry Entry="@Entry" />
    </MenuList>

</DefaultListEntry>