@using Conesoft.Website.Files.Components.Controls.FileRenderers
@inherits DefaultTypeRenderer

@inject IJSRuntime JsRuntime

@code {
    [Obsolete]
    public override string[] Extensions => [];

    public override bool InCategory(Entry entry) => entry.IsDirectory;

    public override string? Name => null;

    private string CurrentPath => $"{Path}/{Current.Name}";
    private string CurrentPathForDownload => $"/*/{(CurrentPath.StartsWith("/") ? CurrentPath[1..] : CurrentPath)}";
}

<li style=@($"view-transition-name: --path-{CurrentPath.Replace("/","").Replace(" ","_")}") @key=Current.Path>
    <img src="/folder-icon.svg" />
    <section>
        <a href="@CurrentPath">@Current.Name</a>
    </section>
    <menu>
        <li>
            <a href="@CurrentPathForDownload" download="" title="download">▼</a>
        </li>
        <AuthorizeView Roles="Admin, Editor">
            <Authorized>
                <li dangerous>
                    <a title="delete" @onclick="@DeleteFolder" @onclick:preventDefault=true @onclick:stopPropagation=true>✕</a>
                </li>
            </Authorized>
        </AuthorizeView>
    </menu>
</li>

@code {
    protected override bool ShouldRender() => true;

    public async Task DeleteFolder()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure?\n{Current.Path}");
        if (confirmed && Current is Directory directory)
        {
            directory.Delete();
        }
    }
}