<button popovertarget="@id-popover" id="@id-anchor">☰</button>
<menu id="@id-popover" anchor="@id-anchor" captive popover>
    @ChildContent
</menu>

@code {
    private string id = $"menuid-{Guid.NewGuid().ToString("N")}";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}