button {
    aspect-ratio: 1;
    background: transparent;
}

    button:hover {
        background: var(--accent-color);
    }

menu {
    display: grid;
    inset-area: bottom span-left;
    box-shadow: 0 0 1rem black, 0 0 1rem black, 0 0 1rem black;
}

::deep li, ::deep li * {
    display: inline;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    min-width: max-content;
    padding-inline: 1rem;
    color: var(--accent-color);
}

    ::deep li:has(:hover) {
        background-color: var(--accent-color);
    }

    ::deep li *:hover {
        color: white;
    }

    [dangerous] {
        --accent-color: var(--danger-color);
    }
