@inherits LayoutComponentBase
@using Conesoft.Blazor.Components

<PageTitle>Files</PageTitle>
<HeadContent>
    <HtmlHead />

    <meta name="description" content="Files by Conesoft" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Files" />
    <meta property="og:description" content="Files by Conesoft" />
    <meta property="og:image" content="/meta-image.jpg" />
</HeadContent>
@Body
<footer>
    <p>&copy; 2023</p>
    <p>written by <a href="https://davepermen.net">davepermen</a></p>
    <p>a <a href="https://conesoft.net">conesoft product</a></p>
</footer>
