@using Conesoft.Website.Files.Services
@using System.Reflection
@using Conesoft.Tools
@using Conesoft.Website.Files.Components.Controls.TypeRenderers
@using Microsoft.AspNetCore.Authorization
@using Serilog

@implements IDisposable
@inject FileHostingPaths fileHostingPaths
@inject CategoryManager categoryManager

<main>
    @foreach (var category in categoryManager.Group(Entries))
    {
        <section title="@category.Name">
            <ul>
                @foreach (var entry in category.OrganisedEntries)
                {
                    <DynamicComponent Type="@category.GetItemType(EntryCategories.Base.Category.CategoryItemType.ListEntry)" Parameters="@(new Dictionary<string, object>
                    {
                        ["Entry"] = entry,
                        ["Path"] = Path
                    })" />
                }
            </ul>
        </section>
    }
    <StoragePoolSpace />
</main>

@code {
    string? _path = null;
    [Parameter] public string Path { get; set; } = default!;

    IEnumerable<Conesoft.Files.Entry> Entries = [];

    static HashSet<DefaultTypeRenderer> categoryRenderTypes = new();
    IEnumerable<IGrouping<DefaultTypeRenderer, Conesoft.Files.Entry>> GroupedEntries(IEnumerable<Conesoft.Files.Entry> entries)
    {
        if (categoryRenderTypes.Count == 0)
        {
            var types = Assembly.GetExecutingAssembly().GetTypes().Where(t => t.Name.EndsWith("TypeRenderer") && !t.Name.EndsWith("DefaultTypeRenderer")).ToArray();
            categoryRenderTypes = types.Select(t => (Activator.CreateInstance(t) as DefaultTypeRenderer)).NotNull().ToHashSet();
        }
        var @default = Activator.CreateInstance<DefaultTypeRenderer>();
        return entries.GroupBy(e => categoryRenderTypes.FirstOrDefault(c => c.InCategory(e)) ?? @default).OrderBy(g => g.Key.Name != null);
    }

    CancellationTokenSource? cancellationTokenSource = null;
    public void Dispose() => cancellationTokenSource?.Cancel();

    protected override async Task OnParametersSetAsync()
    {
        var roots = fileHostingPaths.DirectoriesAt(Path);

        cancellationTokenSource = await roots.Live(async () =>
        {
            Entries = roots.Entries().ToArray();
            var categories = categoryManager.Group(Entries);
            await InvokeAsync(StateHasChanged);
        });
    }
}