@using Conesoft.Blazor.Components

@code {
    [Parameter] public string Path { get; set; } = "";

    public record BreadCrumb(string Segment, string Path);
}

@{
    var segments = Path.Split('/', StringSplitOptions.RemoveEmptyEntries);

    var breadCrumbs = segments.Select((s, i) => new BreadCrumb
    (
        Segment: s,
        Path: $"/{string.Join("/", segments.Take(i + 1))}/"
    )).ToArray();
}

<UserHeaderNav NavClass="breadcrumbs">
    <a href="/">⌂</a>
    @foreach (var crumb in breadCrumbs)
    {
        @(" ▸ ")

        <a href="@crumb.Path">@crumb.Segment</a>
    }
</UserHeaderNav>