@inject FileHostingPath fileHostingPath

@code {
    [Parameter] public string Path { get; set; }
    Conesoft.Files.Directory Root => fileHostingPath.Directory / Path;
}

<AuthorizeView>
    <Authorized>
        <section>
            <ul>
                @foreach (var directory in Root.Directories.OrderBy(d => d.Name, new Conesoft.Tools.NaturalSortComparer()))
                {
                    <Directory Path="@Path" Current="@directory" />
                }
                @foreach (var file in Root.Files.OrderBy(d => d.Name, new Conesoft.Tools.NaturalSortComparer()))
                {
                    var filters = new[] { ".flac.png" };
                    if (filters.Any(f => file.Name.EndsWith(f)) == false)
                    {
                        <File Path="@Path" Current="@file" />
                    }
                }
            </ul>
        </section>
    </Authorized>
</AuthorizeView>