@code {
    [Parameter] public Conesoft.Files.Directory Current { get; set; } = Conesoft.Files.Directory.Invalid;
    [Parameter] public string Path { get; set; } = "";
}

<li>
    <img src="/folder-icon.svg" />
    <a href="@($"{Path}/{Current.Name}/")">@Current.Name</a>
    <aside>
        <a href="*/@($"{Path}/{Current.Name}/")" download="">▼</a>
    </aside>
</li>