@code {
    [Parameter] public Conesoft.Files.Directory Current { get; set; } = Conesoft.Files.Directory.Invalid;
    [Parameter] public string Path { get; set; } = "";
}

<li>
    <a href="@($"{Path}/{Current.Name}/")">@Current.Name</a>
</li>