@using Conesoft.Website.Files.Components.Controls
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components.ContextMenuEntries

@inherits Base.EntryViewerBase

<main>
    <section title="@Category.Name">
        <ul>
            <li>
                <DefaultListEntry IconSource="default">
                    <a href="*/@Path">@Entry.Name</a>
                </DefaultListEntry>
            </li>
        </ul>
    </section>
</main>

@code {
    protected override Task OnLiveChange() => Task.CompletedTask;
}