@using Conesoft.Website.Files.Components.EntryCategories.Base.Components
@using Conesoft.Website.Files.Components.EntryCategories.Base.Components.ContextMenuEntries

<DefaultListEntry IconSource="file-icon.svg">
    
    <ChildContent>
        <a href="@Path/@Entry.Name">@Entry.Name</a>
    </ChildContent>

    <MenuList>
        <DownloadMenuEntry Path="@Path" Entry="@Entry" />
        <DeleteMenuEntry Entry="@Entry" />
    </MenuList>

</DefaultListEntry>

@code {
    [Parameter] public Entry Entry { get; set; } = default!;
    [Parameter] public string Path { get; set; } = default!;
}