@using Conesoft.Website.Files.Components.EntryCategories.Base.Components

<DefaultListEntry IconSource="file-icon.svg">
    <a href="@Path/@Entry.Name">@Entry.Name</a>
</DefaultListEntry>

@code {
    [Parameter] public Entry Entry { get; set; } = default!;
    [Parameter] public string Path { get; set; } = default!;
}