section {
    place-self: end;
    height: auto;
    place-content: end stretch;
    transition: all 0.33s linear;
    grid-template:
        "title title title title" auto
        "play move progress controls" 2rem
    
        / 2rem 4rem auto 4rem;
    gap: 1rem 0.5rem;
    padding: 1rem;
    opacity: 0;
}

    section:hover {
        opacity: 1;
    }

nav {
    display: contents;
}

hgroup {
    display: grid;
    grid-area: title;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0 1rem;
}

hgroup h1, hgroup h2, hgroup label {
    grid-column: 1 / -1;
    -webkit-mask: linear-gradient(#000 0 0) text;
    color: rgb(255, 255, 255, 0.125);
    font-weight: 900;
    font-size: 2rem;
    backdrop-filter: saturate(100%) blur(1rem);
    /*text-align: center;*/
    -webkit-text-stroke: rgb(255, 255, 255, 0) 0.25rem;
}
hgroup h1 {
    font-weight: 300;
}
hgroup label {
    font-weight: 100;
}
hgroup:has(label) h2, hgroup:has(label) label {
    grid-column: auto;
}

nav * {
    display: grid;
}

section:not(:hover) * {
    opacity: 0; /* to kill the hw video hw acceleration darkness bug */
}

::deep video {
    background: var(--background-color);
}

#mute, #unmute {
    grid-area: mute;
}

#backward {
    grid-area: backward;
}

#play, #pause {
    grid-area: play;
}

#playbutton {
    scale: 1.25;
}

#move {
    grid-area: move;
    grid-template: "backward forward" / 1fr 1fr;
}

#controls {
    grid-area: controls;
    grid-template: "mute maximize" / 1fr 1fr;
}

#forward {
    grid-area: forward;
}

nav fieldset {
    display: grid;
    border-radius: 9999rem;
    background: rgb(127, 127, 127, 0.25);
    backdrop-filter: saturate(150%) blur(2rem);
    transition: all 0s linear;
    transition: opacity 0.333s linear;
}

#maximize, #enterfullscreen, #exitfullscreen {
    grid-area: maximize;
}

#current {
    place-self: center start;
}

#runtime {
    place-self: center end;
}

#changing {
    grid-area: changing;
    place-self: center center;
}

nav p {
    opacity: 0.7;
    transition: all 0.33s linear;
}

    nav p:hover {
        opacity: 1;
    }

nav:hover {
    opacity: 1;
}

nav button {
    color: var(--color);
    border-radius: 9999rem;
    font-size: 3rem;
    transition: all 0s linear;
    transition: opacity 0.333s linear;
}

    nav button:hover {
        background: rgb(255, 255, 255, 0.25) !important;
        box-shadow: none !important;
        backdrop-filter: saturate(150%) blur(2rem);
    }

    nav button :is(svg, img) {
        width: 25%;
        aspect-ratio: 1;
        place-self: center;
    }




/* slider */
.slider {
    display: grid;
    grid-template: "all";
    place-items: center;
    place-content: stretch;
    --height: 2rem;
    --radius: calc(var(--height) / 2);
    --glow-radius: 1rem;
    backdrop-filter: saturate(150%) blur(2rem);
    border-radius: var(--glow-radius);
}

    .slider > * {
        grid-area: all;
        appearance: none;
        width: 100%;
        display: initial;
    }

progress {
    height: 0;
    border-radius: var(--radius);
    padding-inline: var(--radius);
    z-index: 1;
}

    progress::-webkit-progress-value {
        appearance: none;
        height: 0;
        outline: var(--radius) solid var(--accent-color);
        border-radius: var(--radius);
        border: 0.00001rem solid var(--accent-color); /* hack to get round borders */
        box-shadow: 0 0 var(--glow-radius) var(--radius) var(--accent-color);
        transition: none;
    }

input, input:hover, input:focus {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    z-index: 1;
}

    input::-webkit-slider-thumb {
        appearance: none;
        width: calc(var(--radius) * 2);
        height: calc(var(--radius) * 2);
        border-radius: var(--radius);
        cursor: ew-resize;
        background-color: var(--accent-color);
        transition: all 0.333s linear;
    }

        input::-webkit-slider-thumb:hover {
            box-shadow: 0 0 var(--glow-radius) var(--accent-color);
        }

p {
    padding-inline: var(--radius);
    color: var(--accent-color);
    mix-blend-mode: difference;
    z-index: 1;
    pointer-events: none;
}

.lefttext {
    text-align: left;
}

.middletext {
    text-align: center;
}

.righttext {
    text-align: right;
}
