@inherits Base.EntryViewerBase

@using System

@rendermode InteractiveServer

@inject IJSRuntime JS

@code {
    protected override Task OnLiveChange() => Task.CompletedTask;

    public string FullTitle => System.IO.Path.GetFileNameWithoutExtension(Path.Split('/').Last().Replace("%20", " ")).Replace(".", " ");
    public string EpisodeTitle => FullTitle.Split(" ").ToArray() switch
    {
        var split when split.Length > 1 && split[0].Contains("x") => string.Join(" ", split.Skip(1)),
        _ => FullTitle
    };
    public int? EpisodeNumber => FullTitle.Split(" ").ToArray() switch
    {
        var split when split.Length > 1 && split[0].Contains("x") => int.Parse(split[0].Split('x').Last()),
        _ => null
    };
    public string ShowTitle => Uri.UnescapeDataString(string.Join(" ", Path.Split('/', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries).Skip(1).Reverse().Skip(2).Reverse()));

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/EntryCategories/Videos/EntryViewer.razor.js");
            await module.InvokeVoidAsync("main", new
            {
                media = new
                {
                    title = System.IO.Path.GetFileNameWithoutExtension(string.Join(' ', Uri.UnescapeDataString(Path.Split("/").Reverse().FirstOrDefault() ?? "").Split(' ').Skip(1))),
                    artist = Uri.UnescapeDataString(string.Join(": ", Path.Split('/', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries).Skip(1).Reverse().Skip(2).Reverse())) + ": " + Uri.UnescapeDataString(Path.Split("/").Reverse().Skip(1).FirstOrDefault() ?? ""),
                    image = $"/*/{Path}:thumbnail-x256.jpg"
                }
            });
        }
    }
}

<AuthorizeView>
    <Authorized>
        <PageTitle>@FullTitle</PageTitle>
        @{
            var subtitle = Path[..^3] + "vtt";
        }
        <video fullscreen-viewer
        id="video"
        src="/*/@Path"
        autoplay
        preload="auto"
        style="background-color: var(--background-color); pointer-events: none">
        </video>

        <section fullscreen-viewer>
            <hgroup id="title">
                <h1 style=@($"view-transition-name: --path-{Path.Replace("/","").Replace(".", "").Replace(" ","_")}")>
                    @ShowTitle.Trim(' ', '-', ':')
                </h1>
                @if (EpisodeNumber is int number)
                {
                    <label>Episode @number</label>
                }
                <h2>
                    @EpisodeTitle.Trim(' ', '-')
                </h2>
            </hgroup>

            <nav>

                <fieldset id=playbutton>
                    <button id=play>
                        <img src="https://content.conesoft.net/icon/control/media/play.svg" />
                    </button>
                    <button id=pause>
                        <img src="https://content.conesoft.net/icon/control/media/pause.svg" />
                    </button>
                </fieldset>

                <fieldset id=move>
                    <button id=backward>
                        <img src="https://content.conesoft.net/icon/control/media/skip-backward.svg" />
                    </button>
                    <button id=forward>
                        <img src="https://content.conesoft.net/icon/control/media/skip-forward.svg" />
                    </button>
                </fieldset>

                <fieldset id=controls>
                    <button id=mute>
                        <img src="https://content.conesoft.net/icon/control/media/mute.svg" />
                    </button>
                    <button id=unmute>
                        <img src="https://content.conesoft.net/icon/control/media/unmute.svg" />
                    </button>

                    <button id=enterfullscreen>
                        <img src="https://content.conesoft.net/icon/control/media/enter-fullscreen.svg" />
                    </button>
                    <button id=exitfullscreen>
                        <img src="https://content.conesoft.net/icon/control/media/exit-fullscreen.svg" />
                    </button>
                </fieldset>

                <div class="slider" style="grid-area: progress; font-size: 0.8rem">
                    <progress id=progress min=0 max=100></progress>
                    <input id=range type=range min=0 max=100 step=0.1>
                    <p id=lefttext class="lefttext"></p>
                    <p id=middletext class="middletext"></p>
                    <p id=righttext class="righttext"></p>
                </div>
            </nav>
        </section>
    </Authorized>
</AuthorizeView>