@inherits Base.EntryViewerBase

@using Conesoft.Tools
@using Conesoft.Website.Files.Services
@using Serilog

<main>
    <section style="view-transition-name: --category-@(Category.Name?.Replace(" ", "") ?? "")">
        <pre style="padding: 2rem 1rem">
            @text
        </pre>
    </section>
</main>

@code {
    string text = "";

    protected override Task OnLiveChange()
    {
        if (HostingPaths.FileAt(Path) is File file)
        {
            using var fileStream = new FileStream(file.Path, FileMode.Open, FileAccess.Read, FileShare.ReadWrite);
            using var streamReader = new StreamReader(fileStream);
            text = streamReader.ReadToEnd();
        }

        return Task.CompletedTask;
    }
}